<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, doloribus ad ipsa consequatur esse illum nulla voluptate nihil porro dolorum perspiciatis fuga. Corrupti laudantium veritatis commodi architecto necessitatibus vero culpa?</p>
    <h1>Home page</h1>
    <br>

 <table>
        <tr>
            <th>employee</th>
            <th>selary</th>
        </tr>
        <% empselary.forEach(emp => { %>
            <tr>
                <td><%= emp.name%></td>
                <td><%= emp.selary%></td>
            </tr>
            <% }); %>

    </table>


  

    <script src="app.js"></script>
</body>
</html>